.container {
    display: flex;
    align-items: center;

    /* background-color: aqua; */


    max-width: 1440px;
    height: 100%;
    width: 100%;

}


.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* background-color: blueviolet; */

    width: 80%;
    height: 100%;
}


.seta {
    width: 40px;
    width: 60px;
    cursor: pointer;
    color: white;

    margin-right: 15px;
}


.logo {
    height: 60px;

}


img {
    height: 200px;
}






/*CARDS*/


.Ariana {
    height: 300px;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    /*background-color: aqua;*/
    gap: 5%;
    width: 100%;
    justify-content: center;
    padding: 0 20px;
    box-shadow: #00000050;




}



.card {
    width: 380px;
    height: 400px;
    background: #fff;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s;
    position: relative;
    margin-bottom: 50px;


    justify-content: space-between;
    align-items: center;
}

.card img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.card p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
}


.card span {
    font-weight: bold;
    font-size: 1rem;
    display: block;
    margin-bottom: 0 3rem;
    display: flex;
}

.card small {
    font-size: 0.8rem;
    color: #777;
    display: flex;
}

.coracao {
    margin-right: 10px;
    width: 20px;
    height: 42px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

}



/*footer*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: linear-gradient(96deg, rgba(0, 37, 55, 1) 0%, rgba(0, 71, 107, 1) 100%);

}

footer .logo {
    height: 40px;


}